body {
    margin: 0;
    padding: 0;
}
td{
    width: 5vw;
    border: 1px solid black;
    text-align: center;
}
.noborder{
    border: none;
}
.heading{
    background-color: pink;
    width: 50vw;
    height: 10vh;
    padding: 1%;
}
.color_1{
    background-color: salmon;
}
.color_2{
    background-color: violet;
}
.color_3{
    background-color: cornflowerblue;
}
.color_4{
    background-color: sandybrown;
}
.color_5{
    background-color: yellowgreen;
}
.color_6{
   background-color: antiquewhite; 
}
.color_7{
    background-color: lightblue;
}
.color_8{
    background-color: saddlebrown;
}
.color_9{
    background-color: aliceblue;
}
.color_10{
    background-color: white;
}